<%= form_for @vehicle do |f| %>
  <%= f.fields_for :description, @vehicle.description do |df| %>
    <% df.object.field_info.each do |field, info| %>
    <p><%= field %>: <%= df.text_field field %> <%= df.object.errors[field] %></p>
    <% end %>
  <% end %>
  <%= f.submit %>
<% end %>
