<p>Name: <%= f.text_field :name %></p>
<p>Brand: <%= f.text_field :brand %></p>
<%= f.fields_for :description, vehicle.description do |df| %>
  <% df.object.field_info.each do |field, info| %>
    <% if info[:type] == 'boolean' %>
      <p><%= field %>: <%= df.check_box field %> <%= df.object.errors[field] %></p>
    <% else %>
      <p><%= field %>: <%= df.text_field field %> <%= df.object.errors[field] %></p>
    <% end %>
  <% end %>
<% end %>
