<!DOCTYPE html>
<html>
  <head>
    <title>JsonPlayground</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if alert %>
      <p><%= alert %></p>
    <% end %>
    <% if notice %>
      <p><%= notice %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
